@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  @apply bg-gray-50 dark:bg-gray-900;
}

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #c2fb00;
  --sb-size: 6px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
